{% extends 'base.html' %}

{% block title %}
    My invitation
{% endblock title %}


{% block content %}
    <h3>My invites</h3>
    
    {% if is_empty %}
        <p>you don 't have any invitation...</p>
    {% endif %}
        
    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img src="{{obj.avatar.url}}" alt="profiles" class="ui small circular image">
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.bio}}</p>
                        <br>
                        <a href="">
                            <button class="ui primary button w-big mb-5">see profile</button>
                        </a>
                        <form action="{% url 'profiles:accept-invitation' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button class="ui positive basic button mb-5 w-big" type="submit"><i class="check icon"></i>Accept invite</button>
                        </form>
                        <form action="{% url 'profiles:reject-invitation' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button class="ui negative basic button w-big mb-5" type="submit"> <i class="close icon"></i>Reject invite</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        
{% endblock content %}
    