{% extends 'base.html' %}


{% block title %}
    Profile
{% endblock title %}


{% block content %}
    <!-- MODAL -->
    <div class="ui modal newmodal">
        <i class="close icon"></i>
        <div class="header">
          Update your profile
        </div>
        <div class="image content">
          <div class="ui medium image">
            <img src="{{profile.avatar.url}}">
          </div>
          <div class="description">
            <div class="ui header">provide some new info now!</div>
            <form action="" method="POST" enctype="multipart/form-data" class="ui form" >
              {% csrf_token %}
              {{form.as_p}}
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Nope
          </div>
          <button type="submit" class="ui positive right labeled icon button">
            update
            <i class="checkmark icon"></i>
          </button>
        </form>
        </div>
      </div>
      
      <div class="ui segment">
        {% if confirm %}
        <div class="ui green message">Your profile has been updated successfully</div>
        {% endif %}
        <h3>My profile: {{request.user}}</h3>
        <div class="ui grid">
          <div class="row">
            <!-- in Simantic UI we have 16 column  -->
              <div class='six wide column'>
                <img src="{{profile.avatar.url}}" alt="avatar" class="ui medium rounded image">
                <div class="row mt-5">
                  <button class="ui secondary button" id="modal-btn">Update your profile</button>
                </div>
              </div>
              <div class="ten wide column">
                <table class="ui table">
                  <tbody>
                    <tr>
                      <td>Username</td>
                      <td>{{profile.user}}</td>
                    </tr>
                    <tr>
                      <td>first name </td>
                      <td>{{profile.first_name}}</td>
                    </tr>
                    <tr>
                      <td>last name</td>
                      <td>{{profile.last_name}}</td>
                    </tr>
                    <tr>
                      <td>bio</td>
                      <td>{{profile.bio}}</td>
                    </tr>
                    <tr>
                      <td>friends</td>
                      <td>
                        <ul>
                          {% for friend in profile.get_friends %}
                            <li>{{friend}}</li>
                          {% endfor %}
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>friend number</td>
                      <td>{{profile.get_friend_no}}</td>
                    </tr>
                    <tr>
                      <td>Number of Posts</td>
                      <td>{{profile.get_posts_no}}</td>
                    </tr>
                    <tr>
                      <td>Number of likes given</td>
                      <td>{{profile.get_likes_given_no}}</td>
                    </tr>
                    <tr>
                      <td>Number of likes received</td>
                      <td>{{profile.get_likes_received_no}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
{% endblock content %}