{% extends 'base.html' %}

{% block title %}main page{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="eleven wide column">
        {% for post in posts %}

        <div class="ui fluid card">
            <div class="content">
                <div class="right floated meta">
                <div class="ui grid">
                    <div class="row">
                        {% ifequal request.user post.author.user %}
                            <a href="{% url 'posts:post-update' post.pk %}"><button class="ui button bwhite-lg ">Update</button></a>
                            <a href="{% url 'posts:post-delete' post.pk %}"><button class="ui button bwhite-lg ">Delete</button></a>
                        {% endifequal %}
                    </div>
                </div>
                    
                </div>
                <img class="ui avatar image" src={{post.author.avatar.url}}> 
                {{ post.author.user.username }} - {{ post.created|timesince}} ago
            </div>
            <div class="ui fluid image">
                {% if post.image %}
                    <img src={{post.image.url}}>
                {% endif %}
            </div>
            <div class="content">
                <p> {{ post.content }} </p>
                <div class="right floated">
                    <form action="{% url 'posts:reaction' %}" method="POST" class="like-form" id={{post.id}}>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>
                        <button type="submit" class="ui button like-btn{{post.id}}">
                            {% if profile not in post.liked.all %}
                                Like
                            {% else %}
                                Unlike
                            {% endif %}
                        </button>
                        <div class="ui grid">
                            <div class="column">
                                <div class="like-count{{post.id}}"> {{post.num_likes}}</div>
                            </div>
                            <div class="column">
                                Like
                            </div>
                        </div>
                    </form>
                </div>
                <i class="comment icon"></i>
                <span> {{ post.num_comments }} comments</span>
            </div>
            <div class="extra content">
                <div class="mb-5">
                </div>
                <button class="cmt_btn ui button mb-5">show / hide comments</button>
                <div class="comment-box">
                {% if post.comment_set.all %}
                    {% for c in post.comment_set.all %}
                    
                        <div class="ui segment mb-5">
                            <img class="ui avatar image" src={{c.author.avatar.url}}>
                            <span>{{ c.author }}</span>
                            <div class='mt-5'>{{ c.content }}</div>
                        </div>
                    
                    {% endfor %}
                {% endif %}
                </div>

                <form action="" method="POST"class='ui fluid form'>
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value={{post.id}}>
                    {{ c_form }}
                    <button type="submit" name="submit_c_form" class="ui primary button mt-5 w-full">Send</button>
                </form>
            </div>
        </div>


        {% endfor %}
    </div>
    <div class="five wide column">
        <div class="ui segment">
            {% if post_added %}
                <div class="ui green message">Post added</div>
            {% endif %}
            <form action="" method="POST" class='ui form' enctype="multipart/form-data">
                {% csrf_token %}
                {{p_form}}
                <button type='submit' name="submit_p_form" class="ui positive button w-full mt-5">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %} 
    <script>
        $( document ).ready(function() {
            let display = false
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });

            $(".like-form").submit(function(e){
                e.preventDefault()

                const post_id = $(this).attr('id')

                const like_text = $(`.like-btn${post_id}`).text()
                // to element the withe spaces in console we have to use 'trim'
                const trim = $.trim(like_text)
                console.log(trim)

                const url = $(this).attr('action')
                
                let res;
                const likes = $(`.like-count${post_id}`).text()
                // to change it to integer when we are going to count the likes 
                const trimCount = parseInt(likes)

                $.ajax({
                    type: 'POST',
                    url : url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id': post_id,
                    },
                    success: function(response){
                        if(trim == 'Unlike'){
                            $(`.like-btn${post_id}`).text('Like')
                            res = trimCount - 1 
                        } else {
                            $(`.like-btn${post_id}`).text('Unlike')
                            res = trimCount + 1
                        }
                        $(`.like-count${post_id}`).text(res)
                    },
                    error: function(response){
                        console.log('error', response)
                    }
                    
                })
            })
        });
    </script>
{% endblock scripts %}